.container {
  display: flex;
  width: 300px;

  &__item {
    height: 40px;
  }

  &__label {
    width: 100px;
    padding: 0 5px;
  }

  &__value {
    width: 100px;
    padding: 0 5px;
  }

  &__other {}
}