
.wrap {
  display: flex;
  // direction;
  justify-content: space-between;
  background-color: #cdcdcd;
  width: 100vw;
  overflow: auto;
}

.container {
  display: flex;
  margin: 10px;
  gap: 8px;

  &_editBoard {
    padding: 0 10px;
    width: 500px;
    background-color: white;

    :global(.ant-form-item) {
      margin-bottom: 0px;
    }

    &_item {
      border: 1px solid #cdcdcd;
      margin: 5px 0;
      padding: 10px 20px;
      display: flex;
      border-radius: 20px;
      justify-content: space-between;
      align-items: center;
      width: 480px;

      &__content {
        width: 300px;
        // height: 500px;
        overflow: auto;
      }

      &__btn {

        button {
          margin: 0 5px;
        }
      }
    }
  }

  &_form {
    &__content {
      height: 300px;
      overflow: auto;
    }
  }

  &_preview {
    position: relative;
    right: 0px;
    padding: 10px 0px;
  }
}